* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a,
ul,
ol {
	list-style: none;
	text-decoration: none;
}

body {
	font-family: 'Inter', sans-serif;
	background-color: #efefef;
}

.container {
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.lesson {
	padding-bottom: 60px;
	position: relative;
	background-color: #efefef;
	background-image: url(../img/person-img.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right bottom;
}
.lesson__container {
}

.lesson__info {
}
.lesson__top {
	display: flex;
	align-items: start;
	justify-content: start;
	margin-bottom: 41px;
	gap: 39px;
}
.lesson__top-left {
	max-width: 253px;
	width: 100%;
	background-color: #fff;
	box-shadow: 0px 4px 6.6px 0px #00000026;
	padding: 22px 58px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	text-align: center;
}
.lesson__top-text {
	font-weight: 500;
	font-style: Medium;
	font-size: 20px;
	margin-bottom: 0px;
}
.lesson__top-left-title {
	font-weight: 800;
	font-size: 36px;
	color: #000;
}
.lesson__top-right {
	max-width: 253px;
	width: 100%;
	background-color: #fff;
	box-shadow: 0px 4px 6.6px 0px #00000026;
	padding: 22px 58px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	text-align: center;
}
.lesson__top-right-title {
	font-weight: 800;
	font-size: 36px;
	color: #241ebf;
}
.lesson__text {
	font-weight: 600;
	font-size: 16px;
	color: #000;
	margin-bottom: 30px;
}
.lesson__text span {
	color: #ff0000;
}
.lesson__title {
	font-weight: 700;
	font-size: 66px;
	line-height: 1;
	margin-bottom: 34px;
	text-transform: uppercase;
}
.lesson__title span {
	color: #241ebf;
}
.lesson__text2 {
	font-weight: 500;
	font-size: 24px;
	margin-bottom: 23px;
}
.lesson__list {
	margin-bottom: 49px;
}
.lesson__list-item {
	display: flex;
	align-items: center;
}
.lesson__list-item:not(:last-child) {
	margin-bottom: 30px;
}
.lesson__list-img {
	width: 69px;
	height: 69px;
	margin-right: 4px;
}
.lesson__list-text {
	max-width: 521px;
	width: 100%;
	font-weight: 500;
	font-size: 24px;
	letter-spacing: 1.1px;
}
.lesson__list-text span {
	color: #241ebf;
}
.lesson__btn {
	white-space: nowrap;
	max-width: 578px;
	width: 100%;
	padding: 22px;
	background-color: #241ebf;
	box-shadow: 0px 4px 4px 0px #241ebf63 inset;
	font-weight: 700;
	font-size: 44px;
	border: none;
	color: #fff;
	border-radius: 50px;
	margin-bottom: 18px;
}
.lesson__bottom {
	border: 1px solid #bcbcbc;
	background-color: #ffffff;
	max-width: 578px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	padding: 8px 24px;
}
.lesson__bottom-img {
}

.lesson__img {
	width: 100px;
}

/* MODAL OVERLAY - oqroq va xiralashtirilgan */
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal.hidden {
	display: none;
}

.modal__overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(10px);
	background-color: rgba(255, 255, 255, 0.4); /* Oq, yarim shaffof */
	z-index: 1;
}

/* MODAL OYNA */
.modal__box {
	position: relative;
	z-index: 2;
	background-color: #fff;
	padding: 35px 25px;
	border-radius: 20px;
	max-width: 400px;
	width: 90%;
	box-shadow: 0 20px 60px rgba(0, 0, 0, 0.2);
}

/* CLOSE BUTTON */
.modal__close {
	position: absolute;
	top: 15px;
	right: 20px;
	font-size: 24px;
	background: none;
	border: none;
	cursor: pointer;
	color: #333;
}

/* TITLE */
.modal__title {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 25px;
	color: #111;
}

/* INPUTLAR */
.modal__input {
	width: 100%;
	padding: 14px;
	font-size: 14px;
	border: 1px solid #ddd;
	border-radius: 10px;
	margin-bottom: 15px;
	outline: none;
}

/* YUBORISH BUTTON */
.modal__submit {
	width: 100%;
	padding: 14px;
	font-size: 16px;
	background-color: #2200ff;
	color: white;
	border: none;
	border-radius: 10px;
	font-weight: bold;
	cursor: pointer;
}
.responsive-person {
	display: none;
}

.block {
	display: none;
	white-space: nowrap;
}
.lesson__bottom-none {
	display: none;
}
.modal__box p {
	display: none;
}
@media screen and (max-width: 1900px) {
	.lesson {
		background-size: 60%;
	}
}

@media (max-width: 900px) {
	.lesson {
		background-image: none !important;
		padding-top: 0;
	}
	.lesson__top-left {
		max-width: none;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px;
		border-bottom-left-radius: 40px;
		border-bottom-right-radius: 40px;
	}
	.lesson__top-right {
		display: none;
	}
	.lesson__top-left-title {
		font-size: 24px;
		line-height: 36px;
		margin-right: 10px;
	}
	.lesson__top-text {
		margin-left: 10px;
		font-size: 16px;
		font-weight: 300;
	}
	.lesson__text {
		text-align: center;
		margin-bottom: 0;
		font-size: 20px;
		font-weight: 100;
	}
	.lesson__title {
		margin: 30px auto 60px;
		text-align: center;
		font-size: 32px;
	}
	.block {
		max-width: 578px;
		width: 100%;
		padding: 23.5px 30px;
		background: #241ebf;
		border-radius: 50px;
		border: none;
		font-family: 'Bebas Neue', sans-serif;
		font-weight: 400;
		font-size: 26px;
		line-height: 100%;
		text-align: center;
		text-transform: uppercase;
		color: #ffffff;
		position: relative;
		overflow: hidden;
		margin-bottom: auto;
		transition: transform 0.2s ease;
		display: flex;
		gap: 20px;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		margin: auto;
	}
	.responsive-person {
		display: block;
		margin: auto;
		width: 396px;
		height: 418px;
	}
	.lesson__bottom-none {
		display: block;
		margin: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid #bcbcbc;
		background-color: #ffffff;
		max-width: 578px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 10px;
		padding: 8px 24px;
		margin-top: 25px;
	}
	.lesson__bottom-text {
		font-size: 22px;
		line-height: 1.8;
		margin-left: 10px;
		max-width: none;
	}
	.lesson__text2 {
		font-size: 20px;
		line-height: 22px;
		width: 100%;
		text-align: center;
		margin-bottom: 0;
	}
	.lesson__list {
		max-width: none;
		width: 100%;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	.lesson__item {
		align-items: center;
		gap: 12px;
	}
	.lesson__list-text {
		font-size: 18px;
	}
	.lesson__btn {
		display: none;
	}
	.lesson__bottom {
		display: none;
	}

	/* MODAL OVERLAY */
	.modal {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 9999;
		background: rgba(0, 0, 0, 0.6);
	}

	.modal.hidden {
		display: none;
	}

	.modal__overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		background: transparent;
	}

	/* MODAL BOX */
	.modal__box {
		max-width: 100%;
		width: 100vw;
		padding: 96px 20px 20px;
		margin: 0;
		border-radius: 6px;
		height: 100vh;
		text-align: center;
	}
	.modal__box label {
		display: none;
	}
	.modal__box p {
		display: block;
		font-size: 14px;
	}

	/* CLOSE BUTTON */
	.modal__close {
		position: absolute;
		top: 15px;
		right: 20px;
		font-size: 28px;
		background: none;
		border: none;
		cursor: pointer;
	}

	/* TITLE */
	.modal__title {
		font-size: 24px;
		font-weight: 700;
		margin-bottom: 6px;
		line-height: 1;
	}

	/* INPUTS */
	.modal__input {
		width: 100%;
		padding: 12px;
		margin: 8px 0 20px;
		border: none;
		border-bottom: 1px solid #000;
		font-size: 16px;
		outline: none;
		border-radius: 0%;
		background: transparent;
	}

	.modal__submit {
		background-color: #2a27d9;
		color: #fff;
		border: none;
		padding: 16px 24px;
		font-size: 18px;
		font-weight: bold;
		width: 100%;
		border-radius: 50px;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
	}

	.gift-icon {
		width: 24px;
		height: 24px;
	}
}

@media (max-width: 500px) {
	.lesson__top-left {
		padding: 4px 20px;
		border-bottom-left-radius: 35px;
		border-bottom-right-radius: 35px;
	}
	.lesson__top-left-title {
		font-size: 22px;
	}
	.lesson__top-text {
		font-size: 18px;
		font-weight: 100;
	}
	.lesson__text {
		font-size: 16px;
		font-weight: 100;
	}
	.lesson__title {
		max-width: 314px;
		font-size: 24px;
		margin-bottom: 15px;
		line-height: -1.2;
		letter-spacing: -1px;
	}
	.block {
		max-width: 425px;
		padding: 20px 30px;

		font-size: 18px;
		font-weight: 700;
		letter-spacing: -1px;
		margin-bottom: 25px;
	}
	.responsive-person {
		width: 286px;
		height: 308px;
	}

	.lesson__bottom-none {
		max-width: 309px;
		padding: 8px 11px 8px 24px;
		margin-bottom: 18px;
	}
	.lesson__bottom-img {
		width: 50px;
		height: 38px;
	}
	.lesson__bottom-text {
		font-size: 11px;
	}

	.lesson__text2 {
		font-size: 20px;
		text-align: center;
		margin-bottom: 0;
	}
	.lesson__list {
		max-width: none;
		width: 100%;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	.lesson__list-img {
		width: 52px;
		height: 52px;
	}
	.lesson__item {
		line-height: 16px;
		align-items: center;
	}
	.lesson__list-text {
		font-size: 16px;
		line-height: 1.5;
		font-weight: 100;
	}
	.lesson__btn {
		display: none;
	}
	.lesson__bottom {
		display: none;
	}
}
